body {
  background-color: var(--white);
}

.container {
  width: 70%;
  margin: 3em auto;
}

header {
  border-bottom: 1px solid #ddd;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
}

nav {
  margin: 0 auto 1.5rem;
  padding-top: 1.5rem;
}

nav,
form {
  display: flex;
  align-items: center;
  width: 70%;
  /* margin: 1.5em auto; */
}

nav a {
  margin: 0 2em 0 0;
  font-size: 0.813rem;
  text-decoration: none;
  letter-spacing: 1.9px;
  text-transform: uppercase;
  color: var(--black-two);
}

.logo {
  font-size: 1.875rem;
  font-weight: bold;
  letter-spacing: 0;
  text-transform: none;
  color: var(--azure);
}

.book {
  padding: 2em;
  margin: 2rem 0;
  list-style: none;
  border-radius: 4px;
  border: solid 1px var(--white-two);
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.book-category {
  margin: 0 2.438rem 0 0;
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--black-two);
}

.book-title {
  margin: 0.188rem 20.188rem 0 0;
  font-family: 'Roboto Slab', serif;
  font-size: 1.375rem;
  font-weight: bold;
  letter-spacing: -0.2px;
  color: var(--black-two);
}

.book-author {
  margin: 0.25rem 0 0;
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
}

.actions-container {
  margin: 1rem 0 0 0;
  display: flex;
}

.actions-container button {
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
  background: transparent;
  border: none;
  cursor: pointer;
}

button.remove-action {
  border-left: 1px solid var(--white-two);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-right: 1px solid var(--white-two);
  margin: 0 1.5rem;
}

.current-chapter {
  margin: 0.063rem 3.625rem 0 3.688rem;
  opacity: 0.5;
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  font-size: 0.813rem;
  font-weight: 300;
  color: var(--black-two);
}

.chapter-title {
  margin: 0.438rem 6.813rem 0.25rem 3.688rem;
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: -0.4px;
  color: var(--black-two);
}

.update-btn {
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  font-size: 0.813rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;

  margin: 0.75rem 0 0.563rem 3.688rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: var(--azure);
  border: 1px solid var(--azure);
}

.form {
  border-top: 1px solid #ddd;
}

form {
  flex-direction: column;
  align-items: flex-start;
}

section {
  display: flex;
  margin: 1em 0 0 0;
}
